<%- include('includes/head.ejs') %>
<body>
    <h1>Instagram</h1>
    <h2>This page belongs to @<%= name %></h2>
    <p>Followers: <%= followers %></p>
    <p>Following: <%= following %></p>

    <hr>

    <% for(post of posts){%>
        <div>
            <img src="<%= post['image'] %>" alt="some image" height="300">
            <div></div>
            <p>Likes <%= post['likes'] %></p>
            <p>Comments <%= post['comments'] %></p>
        </div>
    <% } %>

</body>
</html>