<% layout('/layouts/boilerplate') -%>
<body>
  <!-- <h2>All Listings</h2> -->
  <!-- <form action="/listings/new" method="get">
    <button>Add New Listings</button>
  </form> -->
  <div id="filters">
    <div class="filter">
      <i class="fa-solid fa-fire"></i>
      <p>Trending</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-bed"></i>
      <p>Room</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-mountain-city"></i>
      <p>Iconic Cities</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-mountain"></i>
      <p>Mountains</p>
    </div>
    <div class="filter">
      <i class="fa-brands fa-fort-awesome"></i>
      <p>Castles</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-person-swimming"></i>
      <p>Amazing Pools</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-campground"></i>
      <p>Camping</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-cow"></i>
      <p>Farms</p>
    </div>
    <div class="filter">
      <i class="fa-regular fa-snowflake"></i>
      <p>Arctic</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-igloo"></i>
      <p>Domes</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-sailboat"></i>
      <p>Boats</p>
    </div>
    <div class="form-check-reverse form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="taxSwitch"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Display total after taxes</label
      >
    </div>
  </div>

  <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1">
    <% for(listing of allListings) { %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card col listings-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img"
          alt="<%= listing.title %>"
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <h5 class="card-title"><%= listing.title %></h5>
          <p class="card-text">
            &#8377;<%= listing.price.toLocaleString("en-IN") %> / night
            &nbsp;&nbsp;<i class="tax-info hidden">+18% GST</i>
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>
